* {
  box-sizing: border-box;
}

body {
  background-color: #f4f2ee;
}

.card-img {
  width: 100%;
  min-height: 201px;
}

.profile-img {
  width: 171px;
  height: 170px;
  top: 7em;
  left: 2em;
}

.card-body-info {
  margin-top: 5em;
}

.verifica-ora {
  border-style: dashed;
  height: 30px;
}

.main {
  width: 60%;
}

.fs-custom {
  font-size: 1.3em;
}
.img-esperienze {
  width: 48px;
}
.button-card {
  top: -30px;
  right: 0;
}

/* .card-experience {
  height: 300px;
} */

.button-group-experience {
  top: -40px;
  right: 10px;
}

.button-add {
  cursor: pointer;
  width: 45px;
  height: 45px;
}

.modal-dark {
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 100%;
}

.color-modal,
.title-modal,
.modal-image {
  background-color: rgb(39, 38, 38);
  color: white;
  border: none;
}
