.NavBarCustom {
  border-bottom: 1px solid #ddd;
  text-align: center;
  font-size: 14px;
}

.navbarText {
  color: #666;
  font-size: 12px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}

.SearchBar {
  background-color: #edf3f8;
  border: none;
  margin-left: 15px;
}

.iconNavBar {
  cursor: pointer;
  text-align: center;
}

.iconNavBar:hover svg {
  fill: black;
}

.active {
  color: rgb(0, 0, 0);
  font-weight: bold;
  border-bottom: 2px solid black;
  transition: border-bottom 0.3s ease;
}

.Aziende-part {
  border-left: 1px solid lightgray;
}

.Last-text p,
a {
  color: #bb7309;
}
