.NavBarCustom {
  border-bottom: 1px solid #ddd;
  text-align: center;
  font-size: 14px;
}

.navbarText {
  color: #666;
  font-size: 12px;
  text-decoration: none;
}

.SearchBar {
  background-color: #edf3f8;
  border: none;
}

.iconNavBar {
  text-align: center;
  cursor: pointer;
}

.iconNavBar:hover svg {
  fill: black;
}
